@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Posición inicial */
    }
    50% {
      transform: translateY(-10px); /* Rebote hacia arriba */
    }
  }

  .hover-bounce:hover {
    animation: bounce 1.5s infinite; /* Animación que se repite cada segundo mientras el cursor está encima */
  }